SECRET_KEY_BASE="test-secret-key"
export DATABASE_URL="postgresql://postgres:postgres@127.0.0.1/project_zero_development"
export TEST_DATABASE_URL="postgresql://postgres:postgres@127.0.0.1/project_zero_test"
