/*
* Stolen from: Josh's Custom CSS Reset
* https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-bg-color);
  color: var(--text);
  font-size: calc(var(--cap-height) * var(--cap-ratio));
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/** CSS **/

:root {
  --cap-height: calc(1rem * 12.5 / 16);
  --cap-ratio: calc(1 / 0.698);

  --gap: var(--cap-height);
  --font-smaller: calc(var(--cap-height) * 11 / 12 * var(--cap-ratio));
  --font-small: calc(var(--cap-height) * 10 / 12 * var(--cap-ratio));
  --width: 575px;
  --border: 1.5px;
  --radius: calc(var(--cap-height) / 3);
  --gray-text: rgba(0, 0, 0, 0.4);
  --gray-line: rgba(0, 0, 0, 0.2);
  --gray-bg: rgba(0, 0, 0, 0.1);
  --main-bg-color: #FDDB29;
  --text: #000;
  --alt-bg-color: #000;
  --alt-text: rgba(255, 255, 255, 1);
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: system-ui;
}

#app {
  box-sizing: border-box;
  font-size: 40px;
  background-color: var(--main-bg-color);
}

.page-title-container {
  width: 100%;
  height: max-content;
  text-align: center;
  margin: 0.5em;
}

.page-title {
  font-weight: 800;
  font-style: normal;
  font-size: 100px;
}

.font-gothic {
  font-family: "bu Gothic Hybrid";
}

.add-todo-item-input {
  width: 66%;
  margin: auto;
  margin-bottom: 1em;
}

.add-todo-item-input__input {
  width: 100%;
}

.todo-items {
  width: 50%;
  margin: auto;
  text-align: center;
}

.todo-item {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px;
}

.todo-item__title {
  margin-right: auto;
}

.todo-item__complete {
  text-decoration: line-through;
  text-decoration-style: double;
}

.todo-item button {
  font-size: 0.5em;
  margin: 2px;
  background-color: var(--alt-bg-color);
  color: var(--alt-text);
}

.todo-item button:disabled {
  background-color: var(--gray-bg);
  color: var(--alt-text);
}
